<h1>Apartments</h1>
<table>
  <tr>
    <td>
      <label>Common area from:</label>
      <input type="number" [(ngModel)]="tableApartment.filter.commonAreaFrom" class="form-control" />
    </td>
    <td>
      <label>Common area to:</label>
      <input type="number" [(ngModel)]="tableApartment.filter.commonAreaTo" class="form-control" />
    </td>
    <td>
      <label>Kitchen area from:</label>
      <input type="number" [(ngModel)]="tableApartment.filter.kitchenAreaFrom" class="form-control" />
    </td>
    <td>
      <label>Kitchen area to:</label>
      <input type="number" [(ngModel)]="tableApartment.filter.kitchenAreaTo" class="form-control" />
    </td>
    <td>
      <label>Cost from:</label>
      <input type="number" [(ngModel)]="tableApartment.filter.costFrom" class="form-control" />
    </td>
    <td>
      <label>Cost to:</label>
      <input type="number" [(ngModel)]="tableApartment.filter.costTo" class="form-control" />
    </td>
  </tr>
  <tr>
    <td>
      <select [(ngModel)]="selectedSort" class="form-control">
        <option *ngFor="let c of sort" [ngValue]="c.value">{{c.name}}</option>
      </select>
    </td>
    <td><input type="button" value="Find" class="btn btn-primary" (click)="search()" /></td>
  </tr>
</table>

<br />
<span>Page: {{tableApartment.filter.page}}</span><br />
<input type="button" [disabled]="tableApartment.filter.page <= 1" value="Previous" class="btn btn-primary" (click)="previous()" />
<input type="button" [disabled]="!tableApartment.nextPage" value="Next" class="btn btn-primary" (click)="next()" />

<table *ngIf="tableMode; else create" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Region</th>
      <th>Quarte</th>
      <th>Quantity of room</th>
      <th>Common area</th>
      <th>Kitchen area</th>
      <th>Floor</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!--Goig through groups-->
    <ng-template ngFor let-g [ngForOf]="tableApartment.apartments | groupBy:'districtTitle'">
      <!--Show group if it not empty-->
      <tr ng-show="g?.key" class="table-active">
        <td colspan="9">{{g?.key}}</td>
      </tr>
      <!--Show aparments in group-->
      <tr *ngFor="let a of g.value" (dblclick)="showApartment(a)">
        <ng-template [ngIf]="idApartment != a.id" [ngIfElse]="edit">
          <td>{{a?.idApartment}}</td>
          <td>{{a?.districtTitle}} {{a?.regionTitle}}</td>
          <td>{{a?.nameRC}} оч. {{a?.queueNumber}} к. {{a?.buildingNumber}}</td>
          <td>{{a?.quantitiesOfRooms}}</td>
          <td>{{a?.commonArea}}</td>
          <td>{{a?.kitchenArea}}</td>
          <td>{{a?.floor}}</td>
          <td>{{a?.cost}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-secondary" (click)="showApartment(a)">
              Details
            </button>
            <a [routerLink]="['edit', a.id]" class="btn btn-sm btn-secondary">Edit</a>
            <button class="btn btn-sm btn-secondary" (click)="editApartment(a)">Edit 2</button>
            <button class="btn btn-sm btn-secondary" (click)="delete(a)">Delete</button>
          </td>
        </ng-template>
      </tr>
    </ng-template>
  </tbody>
</table>
<input type="button" [disabled]="tableApartment.filter.page <= 1" value="Previous" class="btn btn-primary" (click)="previous()" />
<input type="button" [disabled]="!tableApartment.nextPage" value="Next" class="btn btn-primary" (click)="next()" />

<!--template for edit in list-->
<ng-template #edit>
  <td>{{apartment.idApartment}}</td>
  <td>{{apartment.districtTitle}} {{apartment.regionTitle}}</td>
  <td>{{apartment.nameRC}} queue {{apartment.queueNumber}} building {{apartment.buildingNumber}}</td>
  <td>{{apartment.quantitiesOfRooms}}</td>
  <td>
    <input type="number" [(ngModel)]="apartment.commonArea" class="form-control" />
  </td>
  <td>
    <input type="number" [(ngModel)]="apartment.kitchenArea" class="form-control" />
  </td>
  <td>
    <input type="number" [(ngModel)]="apartment.floor" class="form-control" />
  </td>
  <td>
    <input type="number" [(ngModel)]="apartment.cost" class="form-control" />
  </td>
  <td>
    <input type="button" value="Save" (click)="updateApartment()" class="btn btn-sm btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!-- Modal windows with details of apartment-->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeApartment()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <dl>
                <dt>Apartment id</dt>
                <dd>{{apartment.idApartment}}</dd>
                <dt>Region</dt>
                <dd>{{apartment.regionTitle}}</dd>
                <dt>District</dt>
                <dd>{{apartment.districtTitle}} </dd>
                <dt>Quarter name</dt>
                <dd>{{apartment.nameRC}}</dd>
                <dt>Queue number</dt>
                <dd>{{apartment.queueNumber}}</dd>
                <dt>Building number</dt>
                <dd>{{apartment.buildingNumber}}</dd>
              </dl>
            </td>
            <td>
              <dl>
                <dt>Quantity of rooms</dt>
                <dd>{{apartment.quantitiesOfRooms}}</dd>
                <dt>Common area</dt>
                <dd>{{apartment.commonArea}}</dd>
                <dt>Kitchen area</dt>
                <dd>
                  {{apartment.kitchenArea}}
                </dd>
                <dt>Floor</dt>
                <dd>
                  {{apartment.floor}}
                </dd>
                <dt>Cost</dt>
                <dd>
                  {{apartment.cost}}
                </dd>
              </dl>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeApartment()">Close</button>
      </div>
    </div>
  </div>
</div>
