<div class="form-group">
  <label>Apartment Id</label><br />
  <label>{{apartment.idApartment}}</label>
</div>
<div class="form-group">
  <label>Region</label><br />
  <input type="text" class="form-control" readonly="readonly" [(ngModel)]="apartment.regionTitle" />
</div>
<div class="form-group">
  <label>District</label><br />
  <input type="text" class="form-control" readonly="readonly" [(ngModel)]="apartment.districtTitle" />
</div>
<div class="form-group">
  <label>Quarter name</label><br />
  <input type="text" class="form-control" readonly="readonly" [(ngModel)]="apartment.nameRC" />
</div>
<div class="form-group">
  <label>Queue number</label><br />
  <input type="text" class="form-control" readonly="readonly" [(ngModel)]="apartment.queueNumber" />
</div>
<div class="form-group">
  <label>Building number</label><br />
  <input type="text" class="form-control" readonly="readonly" [(ngModel)]="apartment.buildingNumber" />
</div>
<div class="form-group">
  <label>Quantity of rooms</label><br />
  <input type="text" class="form-control" readonly="readonly" [(ngModel)]="apartment.quantitiesOfRooms" />
</div>
<div class="form-group">
  <label>Floor</label><br />
  <input type="text" class="form-control" [(ngModel)]="apartment.floor" />
</div>
<div class="form-group">
  <label>Common area</label>
  <input type="number" class="form-control" [(ngModel)]="apartment.commonArea" />
</div>
<div class="form-group">
  <label>Kitchen area</label>
  <input type="number" class="form-control" [(ngModel)]="apartment.kitchenArea" />
</div>
<div class="form-group">
  <label>Cost</label>
  <input type="number"  class="form-control"[(ngModel)]="apartment.cost" />
</div>
